.box{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px
    ;
}
.box > .card{
    border-radius: 5px;
}
.bigbox{
    padding: 50px;
    background-size: cover;
    background-color: whitesmoke;
}
.box2{
    background-color: rgb(220, 250, 220);
    padding: 30px;
    margin-top: 10px;
    border-radius: 2px;
}
.smallbox{
    position: relative;
    width: 200px;
    height: 50px;
    background-color: aqua;
    border-radius: 5px;

}
.searchbutton{
    position: absolute;
    right: 5px;
    height: 40px;
    top: 5px;
    border-radius: 5px;
}