.mmdiv{
    padding-top: 100px;
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.firstrow{
    display: flex;
    justify-content: space-between;

}
.seconddiv{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;


}
.seconddiv input[type=text]{
    width: 150px;

}
.button{
    margin-top: 20px;
    margin-left: 20px;
}
.bdiv{
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    background-image: url('./Images/formimagee.jpg');
    background-size: cover;

}